PORT=3000
OLLAMA_MODEL=llama3.2
OLLAMA_BASE_URL_DOCKER=http://host.docker.internal:11434
OLLAMA_EMBEDDING_MODEL=nomic-embed-text-v2-moe
CHROMA_URL=http://localhost:8000
CHROMA_COLLECTION=logistics_categories
CSV_PATH=/app/data/product-categories.csv
TOP_K=5
